<ion-header>
    <ion-navbar>
        <ion-title>Going Out Statuses</ion-title>
        <ion-buttons end>
            <ion-spinner *ngIf="currentlyLoadingData == true" name="ios" id="loadingIndicator"></ion-spinner>
        </ion-buttons>
    </ion-navbar>
    </ion-header>

<ion-content>
    
    <ion-grid *ngIf="this.allMyData.friends.length == 0">
        <ion-row>
            <ion-col col-12 class="oneElement">
                <div class="centerMe">
                    <h1 [style.color]="'#32db64'">You don't have any friends from Facebook who have this app yet.</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list no-lines *ngIf="this.allMyData.friends.length != 0">
        <ion-list-header color="background-info-color" *ngIf="this.yes.length != 0">Yes</ion-list-header>
        <ion-item *ngFor="let friend of this.yes">
            <ion-label color="primary">{{ friend.name }}</ion-label>
        </ion-item>

        <ion-list-header color="background-info-color" *ngIf="this.convinceMe.length != 0">Convince Me</ion-list-header>
        <ion-item *ngFor="let friend of this.convinceMe">
            <ion-label color="yellow">{{ friend.name }}</ion-label>
        </ion-item>

        <ion-list-header color="background-info-color" *ngIf="this.maybe.length != 0">Maybe</ion-list-header>
        <ion-item *ngFor="let friend of this.maybe">
            <ion-label color="orange">{{ friend.name }}</ion-label>
        </ion-item>

        <ion-list-header color="background-info-color" *ngIf="this.no.length != 0">No</ion-list-header>
        <ion-item *ngFor="let friend of this.no">
            <ion-label color="danger">{{ friend.name }}</ion-label>
        </ion-item>

        <ion-list-header color="background-info-color" *ngIf="this.unknown.length != 0">Unknown</ion-list-header>
        <ion-item *ngFor="let friend of this.unknown">
            <ion-label color="white">{{ friend.name }}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
      