<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <ion-spinner *ngIf="currentlyLoadingData == true" name="ios" id="loadingIndicator"></ion-spinner>
    </ion-buttons>
    <!--
    <ion-buttons end>
        <button ion-button style="color: #32db64; background-color: #222" (click)='goToPointsPage();'>
            {{allMyData.me.pointMap.get("points")}} Points
        </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="home">
    
    <ion-row>
      <ion-col col-6 class="twoElements">
          <button full ion-button [color]="primary" style="color: black; border-radius: 5px;" (click)='goToNotificationsPage();'>
            Notifications ({{allMyData.numberOfUnseenNotifications}})
          </button>
      </ion-col>
      <ion-col col-6 class="twoElements">
          <button full ion-button [color]="primary" style="color: black; border-radius: 5px;" (click)='goToFriendStatusPage();'>
            Friends ({{allMyData.numberOfFriendsGoingOut}} fun)
          </button>
      </ion-col>
    </ion-row>

    <ion-row class="needsSpaceOnTop">
        <ion-col col-12 class="oneElement">
          <div class="centerMe">
            <label>Having an issue?</label>
          </div>
          <div class="centerMe backgroundIncluded needsPadding">
            <ion-textarea type="text" [(ngModel)]="bugDescription"></ion-textarea>
          </div>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          <button ion-button block [color]="primary" style="color: black;" (click)='submitBug();'>
            Submit Bug
          </button>
      </ion-col>
    </ion-row>

    <ion-row class="needsSpaceOnTop">
        <ion-col col-12 class="oneElement">
          <div class="centerMe">
            <label>Want to request a feature or just tell us something?</label>
          </div>
          <div class="centerMe backgroundIncluded needsPadding">
            <ion-textarea type="text" [(ngModel)]="featureRequest"></ion-textarea>
          </div>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          <button ion-button block [color]="primary" style="color: black;" (click)='submitFeatureRequest();'>
            Submit Feedback
          </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 class="oneElement">
        <div class="centerMe">
          <h1 [style.color]="'#32db64'">Version: {{ versionNumber }}</h1>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<div tappable class="overlayMoreTab" (click)='overlayWasClicked();' *ngIf="overlayIsActive">
    <div class="notificationsButtonExplanationMoreTab" *ngIf="notificationsButtonExplanationIsActive">
        <ion-icon name="arrow-round-up" style="display: flex; justify-content: center;"></ion-icon>
        <p style="text-align: center; margin-top: 0px;">If a friend invites you to a party or asks you to host a party or bar with them, you'll see that here.</p>
    </div>
    <div class="friendsButtonExplanationMoreTab" *ngIf="friendsButtonExplanationIsActive">
        <ion-icon name="arrow-round-up" style="display: flex; justify-content: center;"></ion-icon>
        <p style="text-align: center; margin-top: 0px;">Click this to see which of your friends are going out tonight.</p>
    </div>
    <div class="feedbackExplanationMoreTab" *ngIf="feedbackExplanationIsActive">
        <p style="text-align: center;">You can give us feedback on this page by submitting issues or feature requests.</p>
    </div>
    <div class="logoutExplanationMoreTab" *ngIf="logoutExplanationIsActive">
        <p style="text-align: center;">If you scroll down, you can logout.</p>
    </div>
</div>