page-more {
    .home {
        display: flex;
        flex-direction: column;
    
        ion-grid {
            padding: 0;
            height: 100%;
        }

        .text-input {
            height: 20vh;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

        .oneElement {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
    
        .centerMe {
            text-align: center;
        }

        .backgroundIncluded {
            border-radius: 5px;
            background-color: $background-info-color;
        }

        .needsPadding {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .needsSpaceOnTop {
            margin-top: 10px;
        }

        #logoutButton {
            margin-top: 20px;
        }
    }
}
