<ion-header>
    <ion-navbar>
        <ion-title>Update Invitations</ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
    </ion-header>

<ion-content padding>
    <ion-grid *ngIf="this.allMyData.friends.length == 0">
        <ion-row>
            <ion-col col-12 class="oneElement">
                <div class="centerMe">
                    <h1 [style.color]="'#32db64'">You don't have any friends from Facebook who have this app yet.</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list *ngIf="this.allMyData.friends.length != 0">
        <ion-item *ngFor="let friend of this.possibleInvitees">
            <ion-label [color]="party.invitees.has(friend.facebookID) == true ? {'Going': 'primary', 'Maybe': 'yellow', 'Invited': 'secondary'}[party.invitees.get(friend.facebookID).status] : 'white'">{{ friend.name }}</ion-label>
            <ion-checkbox [color]="party.invitees.has(friend.facebookID) == true ? {'Going': 'primary', 'Maybe': 'yellow', 'Invited': 'secondary'}[party.invitees.get(friend.facebookID).status] : 'white'" [checked]="party.invitees.has(friend.facebookID)" (click)="friendSelected(friend)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
      