page-host {

    .oneElement {
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }

    .centerMe {
        text-align: center;
    }

    .overlayHostTab {
        position: fixed; /* Sit on top of the page content */
        width: 100vw; /* Full width (cover the whole page) */
        height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7); /* Black background with opacity */
        z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */

        ion-icon {
            font-size: 2em;
            font-weight: bold;
        }

        .upperLeftButtonExplanationHostTab {
            color: white;
            font-size: 18px;
            font-weight: bold;
            width: 50%;
            position: fixed;
            top: 30px;
            left: 10px;
        }

        .upperRightButtonExplanationHostTab {
            color: white;
            font-size: 18px;
            font-weight: bold;
            width: 50%;
            position: fixed;
            top: 30px;
            right: 10px;
        }

        .listExplanationHostTab {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
            font-weight: bold;
            width: 100%;
            height: 100%;
        }
    }
}
