<ion-header>
    <ion-navbar>
        <ion-title>
        Where are you?
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home">

    <ion-grid *ngIf="partiesAndBarsWithinMyVicinity.length == 0">
        <ion-row>
            <ion-col col-12 class="oneElement">
                <div class="centerMe">
                    <h1 [style.color]="'#32db64'">There are no parties or bars close to you.</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="partiesAndBarsWithinMyVicinity.length != 0">
        <ion-item *ngFor="let partyOrBar of partiesAndBarsWithinMyVicinity">
            <ion-label [color]="locationTracker.partyOrBarImAt == getIDOfPartyOrBar(partyOrBar) ? 'primary' : 'white'">{{ getNameOfPartyOrBar(partyOrBar) }}</ion-label>
            <ion-checkbox [color]="locationTracker.partyOrBarImAt == getIDOfPartyOrBar(partyOrBar) ? 'primary' : 'white'" [checked]="(locationTracker.partyOrBarImAt == getIDOfPartyOrBar(partyOrBar)) && (locationTracker.userIsCheckedIn == true)" (click)="checkIn($event,partyOrBar)" (ionChange)="ionChangeEvent($event,partyOrBar)"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>
  
<div tappable class="overlayCheckInTab" (click)="overlayWasClicked();" *ngIf="overlayIsActive">
    <div class="listExplanationCheckInTab" *ngIf="listExplanationIsActive">
        <p style="text-align: center;">If you are near parties or bars, a list of those will show up here. Let others know where you are by clicking on a specific party or bar in the list.</p>
    </div>
    <div class="popoverExplanationCheckInTab" *ngIf="popoverExplanationIsActive">
        <div id="popoverBorderCheckInTab">
            <p style="text-align: center; padding-left: 10px; padding-right: 10px;">After clicking on a specific party or bar in the list, a pop-up will appear here which allows you to rate it and say if there was a cover or a line.</p>
        </div>
    </div>
</div>