// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$background-color: #222;
$background-info-color: #3a3a3a;
$background-free-drink: #969696;
$text-color: #32db64;
$tabs-background: #32db64;
$tabs-tab-color-active: #222;
$list-text-color: #32db64;
$popover-md-width: 95%;
$popover-ios-width: 95%;
$popover-wp-width: 95%;
$popover-md-max-height: 75%;
$popover-ios-max-height: 75%;
$popover-wp-max-height: 75%;
$popover-ios-border-radius: 10px;
$popover-md-border-radius: 10px;
$spinner-ios-ios-color : #000;
$spinner-md-ios-color: #000;
$toggle-md-handle-background-color-off: #f53d3d;
$toggle-md-track-background-color-off: #fa9e9e;
$toggle-ios-background-color-off: #f53d3d;
$toggle-ios-background-color-on: #32db64;
$toggle-ios-handle-background-color: #222;
$toggle-ios-border-color-off: #f53d3d;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #32db64,
  secondary:  #387ef5,
  danger:     #f53d3d,
  light:      #f4f4f4,
  light-gray: #D3D3D3,
  dark:       #222,
  invitedColor: #4AA6FB,
  background-info-color: #3a3a3a,
  white: #ffffff,
  black: #000000,
  yellow: yellow,
  orange: orange
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
