<ion-header>
  <ion-navbar>

    <ion-buttons left>
      <button ion-button *ngIf="numberOfActivePartyFilters == 0" style="color: #32db64; background-color: #222" (click)='presentPartyFilterAlert();'>
        Party Filter
      </button>
      <button ion-button *ngIf="numberOfActivePartyFilters > 0" style="color: #32db64; background-color: #222" (click)='presentPartyFilterAlert();'>
        Party Filter ({{numberOfActivePartyFilters}})
      </button>
    </ion-buttons>

    <ion-title>
      Find
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="numberOfActiveBarFilters == 0" style="color: #32db64; background-color: #222" (click)='presentBarFilterAlert();'>
        Bar Filter
      </button>
      <button ion-button *ngIf="numberOfActiveBarFilters > 0" style="color: #32db64; background-color: #222" (click)='presentBarFilterAlert();'>
        Bar Filter ({{numberOfActiveBarFilters}})
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
 
<ion-content class="theMap">
  <div #map id="map"></div>
  <ion-icon id="locateControl" name="locate"></ion-icon>
</ion-content>
