//.ios, .md {
 
    page-find {
        .theMap{
            #map {
                width: 100%;
                height: 100%;
                /*.scroll-content {
                    height: 100%;
                }*/
            }
        }
    }
 
//}
