<ion-header>
    <ion-navbar>
        <ion-title>{{party.invitees.get(this.allMyData.me.facebookID).numberOfInvitationsLeft}} left</ion-title>
        <ion-buttons end>
            <button ion-button style="color: #32db64; background-color: #222" [disabled]="initialNumberOfInvitationsYouCanGiveOut <= 0" (click)='sendInvites();'>
              Send Invites
            </button>
          </ion-buttons>
    </ion-navbar>
    </ion-header>

<ion-content padding>
    <ion-grid *ngIf="this.allMyData.friends.length == 0">
        <ion-row>
            <ion-col col-12 class="oneElement">
                <div class="centerMe">
                    <h1 [style.color]="'#32db64'">You don't have any friends from Facebook who have this app yet.</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="this.allMyData.friends.length != 0">
        <ion-item *ngFor="let friend of this.allMyData.friends">
            <ion-label [color]="party.invitees.has(friend.facebookID) == true ? {'Going': 'primary', 'Maybe': 'yellow', 'Invited': 'secondary', 'No': 'danger'}[party.invitees.get(friend.facebookID).status] : 'white'">{{ friend.name }}</ion-label>
            <ion-checkbox [disabled]="party.hosts.has(friend.facebookID) == true ? party.hosts.get(friend.facebookID).status == 'Accepted' : originalParty.invitees.has(friend.facebookID) || (party.invitees.get(this.allMyData.me.facebookID).numberOfInvitationsLeft <= 0 && party.invitees.has(friend.facebookID) == false)" [color]="party.invitees.has(friend.facebookID) == true ? {'Going': 'primary', 'Maybe': 'yellow', 'Invited': 'secondary', 'No': 'danger'}[party.invitees.get(friend.facebookID).status] : 'white'" [checked]="party.invitees.has(friend.facebookID)" (click)="friendSelected(friend)"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>
      